.todoTask {
  padding: 8px;
  width: 100%;
  display: flex;
  align-items: center;

  border-top: 1px solid #ccc;

  &:first-child {
    border-top: none;
  }

  span {
    padding: 4px;
    word-break: break-all;
  }
  input {
    margin: 0 10px;
  }
  button {
    margin-left: auto;
  }
}

.textLine {
  text-decoration: line-through;
  color: rgb(6, 5, 5);
}
.closeButton {
  transition: 0.3s;
  &:hover {
    color: red;
  }
}
