* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;

  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  max-width: 600px;
  margin-bottom: 50px;
}

button {
  padding: 6px;
  border-radius: 14px;
  border: none;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: rgb(124, 124, 124);
  }
  &:active {
    color: rgb(45, 44, 44);
  }
}

.buttonsBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 8px;
}

.todoList {
  width: 100%;
  box-shadow: 0px 0px 16px 3px rgba(34, 60, 80, 0.11);
}
.todosCounter {
}

.textLine {
  text-decoration: line-through;
  color: rgb(6, 5, 5);
}

@media screen and (max-width: 610px) {
  .container {
    padding: 10px;
  }
}

@media screen and (max-width: 425px) {
  .buttonsBar {
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  button {
    font-size: 12px;
  }
}
